
.listLevel {
    list-style-type: none;
    display: flex;
    transition: 0.5s;
    transform: transLateX(-70%);
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(105, 9, 121, 1) 33%, rgba(0, 212, 255, 1) 100%);
    border-radius: 30px;
}

.listLevel:hover {
    transform: transLateX(-0%);
    border-radius: 0px 20px 20px 0px;
}

.listLevel:hover .menu {
    margin-left: 0;
}


.listItem {
    margin: 0px 5px;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 5px;
}

.listItem a {
    text-decoration: none;
    color: lightskyblue;
}
.listItem a:hover{
    color: white;
    opacity: 0.8;
}

.listItem span {
    background: transparent;
    font-size: 18px;
}

.wrapperList {
    display: flex;
}

a.active {
    font-weight: 700;
    color: cornsilk;
}
a.active:hover{
    font-weight: 700;
    color: cornsilk;
    opacity: 1;
}

.menu {
    margin-left: 60px;
    transition: 0.5s;
    padding-right: 20px;
}