.someClass {

}

.wrapper {

    text-align-last: center;
}

.error {
    height: 20px;
    border-radius: 20px;
    padding: 5px 10px;
    outline: none;
    transition: 0.5s;
    font-size: 20px;
    margin-bottom: 30px;

}

.buttonAdd {
    margin-left: 20px;
    width: 80px;
    height: 30px;
    border-radius: 20px;
    margin-right: 5px;
}
.totalUsers {
    font-size: 20px;
    margin-left: 10px;
}
.errorText {
    font-size: 20px;
    color: crimson;
}